<a href="https://colab.research.google.com/github/Dhatrikowthavarapu/Machine-Learning/blob/main/MPNeuron.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#import modules
import numpy as np
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
#load data
dataset_path = '/content/drive/MyDrive/Mini/diabetes1.csv'
data = pd.read_csv(dataset_path)

data.head()

   preg  plas  pres  skin  insu  mass   pedi  age            class
0     6   148    72    35     0  33.6  0.627   50  tested_positive
1     1    85    66    29     0  26.6  0.351   31  tested_negative
2     8   183    64     0     0  23.3  0.672   32  tested_positive
3     1    89    66    23    94  28.1  0.167   21  tested_negative
4     0   137    40    35   168  43.1  2.288   33  tested_positive

In [ ]:
# extract features and labeles from data
X = data.drop('class', axis=1)
y = data['class'].values

In [ ]:
type(X),type(y)

(pandas.core.frame.DataFrame, numpy.ndarray)

In [ ]:
# split data into train & test sets
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, y, test_size=0.2)

In [ ]:
X_train.shape,X_test.shape

((614, 8), (154, 8))

In [ ]:
X.shape[1]

8

In [ ]:
#converting the input features to a binary format

X_binarised_train = X_train.apply(pd.cut, bins=2, labels=[1,0]).values
X_binarised_test = X_test.apply(pd.cut, bins=2, labels=[1,0]).values

In [ ]:
X_binarised_train.shape,X_binarised_test.shape

((614, 8), (154, 8))

In [ ]:
# define MP Neuron Class with necessary methods
class MPNeuron:

    def __init__(self):
        self.b = None

    def model(self, x):
        return(sum(x) >= self.b)

    def predict(self, X):
        Y = []
        for x in X:
            result = self.model(x)
            Y.append(result)
        return np.array(Y)

    def accuracy_score(self,pred,actual):

        score=0
        num_samples = len(pred)
        for i in range(num_samples):
            if(pred[i]==actual[i]):
                score+=1
        return (score/num_samples)


    def fit(self, X, Y):
        accuracy = {}

        for b in range(X.shape[1] + 1):
            self.b = b
            Y_pred = self.predict(X)
            accuracy[b] = self.accuracy_score(Y_pred, Y)

        best_b = max(accuracy, key = accuracy.get)
        self.b = best_b

        print('Optimal value of b is', best_b)
        print('Highest accuracy is', accuracy[best_b])

In [ ]:
#Calling the class MPNeuron
mp_neuron = MPNeuron()
#Calling the fit method inside the class on the training data
mp_neuron.fit(X_binarised_train, Y_train)

Optimal value of b is 0
Highest accuracy is 0.0

In [ ]:
#Calling the predict method inside the class on the testing data to make predictions
pred = mp_neuron.predict(X_binarised_test)
c = 0
for i in range(len(Y_test)):
    #print(pred[i],bool(Y_test[i]),sep='-->')
    if(pred[i]==bool(Y_test[i])):
        c+=1
print("Test Accuracy: ", (c/len(Y_test)))

Test Accuracy:  1.0

In [ ]:
# import modules
import pandas as pd
import numpy as np

In [ ]:
# extract features and labels from data
X = data.iloc[:,:-1].values
y = data.iloc[:,8].values

In [ ]:
W = np.ones((1,X_train.shape[1])) # Initialize weights with all ones
epochs = 100

In [ ]:
W

array([[1., 1., 1., 1., 1., 1., 1., 1.]])

In [ ]:
X_train

     preg  plas  pres  skin  insu  mass   pedi  age
746     1   147    94    41     0  49.3  0.358   27
767     1    93    70    31     0  30.4  0.315   23
217     6   125    68    30   120  30.0  0.464   32
6       3    78    50    32    88  31.0  0.248   26
294     0   161    50     0     0  21.9  0.254   65
..    ...   ...   ...   ...   ...   ...    ...  ...
646     1   167    74    17   144  23.4  0.447   33
144     4   154    62    31   284  32.8  0.237   23
34     10   122    78    31     0  27.6  0.512   45
740    11   120    80    37   150  42.3  0.785   48
698     4   127    88    11   155  34.5  0.598   28

[614 rows x 8 columns]